body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
header{
    margin-bottom: 30px;
    text-align: center;
}

#vitrine{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;  
    justify-content: center;
}
.card-produto{
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.card-produto h3{
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 10px;
}       
.card-produto p{
    color: #27ae60;
    font-weight: bold;
}
button{
    background-color: green;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    gap: 10px;
}
button:hover{
    background-color: orangered;
}
button:disabled{
    background-color: gray;
    cursor: not-allowed;
    opacity: 0.6;
}
#cupom-area{
    margin-top: 15px;
    text-align: center;
}
.card-produto{
    background-color: #fff;
    border-radius: 8px;
    padding: 15%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    width: 200px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    
}

.foto-produto{
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 15px;
    
}

.card-produto h3{
    font-size: 0.9rem;
    height: 3.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}