body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
header{
    margin-bottom: 30px;
    text-align: center;
}

#vitrine{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;  
    justify-content: center;
}
.card-produto{
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.card-produto h3{
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 10px;
}       
.card-produto p{
    color: #27ae60;
    font-weight: bold;
}
button{
    background-color: green;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
}
button:hover{
    background-color: orangered;
}
button:disabled{
    background-color: gray;
    cursor: not-allowed;
    opacity: 0.6;
}
#cupom-area{
    margin-top: 15px;
    text-align: center;
}